@import "./_mixin.scss";

#cover {
  margin-right: 28%;
  margin-left: 28%;
  width: 44%;
  background-color: $themaPink;
  //opacity: 0.8;
}

#cover .logo {
  width: 70%;
  margin-top: 15%;
  margin-left: 14%;
  margin-right: 16%;
  margin-bottom: 15%;
  height: auto;
}

#cover .infoArea {
  .info {
    margin-left: 30%;
  }
  .icon, p {
    display: inline-block;
  }
  .icon {
    position: relative;
    background-color: white;
    //opacity: 0.8;
    border-radius: 2em;
    width: 2em;
    height: 2em;
  }
  .fa-calendar-check-o {
    color: $themaPink;
    position: absolute;
    left: 0.55em;
    top: 0.5em;
  }
  .fa-map-marker {
    color: $themaPink;
    position: absolute;
    left: 0.7em;
    top: 0.5em;
  }
  p {
    color: white;
  }
}

#cover .recruitArea {
  .recruitBtn {
    background-color: $accentNavy;
    display: inline-block;
    width: 13em;
    height: 4.8em;
    padding: 4px;
  }
  .innerBox {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    }
  .circleLeft, .circleRight, .message {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
  }
  .circleLeft, .circleRight {
    margin-top: 1.6em;
    width: 10%;
  }
  .circleLeft {
    float: left;
  }
  .circleRight {
    float: right;
  }
  .circle {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    border: 4px solid white;
    }
  .message {
    height: 100%;
    width: 80%;
    p {
      color: white;
      text-align: center;
    }
  }
}