@import "./_mixin.scss"; // 色コード、フォントサイズ、メディアクエリ

.l-footer {
  background-color: $themaPink;
  padding-top: 20px;
  .footer_laravelOsaka,
  .footer_sns_text {
    color: white;
  }
  .footer_laravelOsaka {
    text-align: center;
  }
  .footer_sns {
    text-align: center;
    .footer_sns--connpass {
      padding-right: 1rem;
      @include media {
        padding-right: 0.5rem;
      }
    }
    .footer_sns--facebook {
      padding-left: 1rem;
      @include media {
        padding-left: 0.5rem;
      }
    }
    .footer_sns--connpass,
    .footer_sns--facebook {
      display: inline-block;
      height: 3rem;
    }
    .footer_sns_circleMark {
      display: inline-block;
      margin: 1rem 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      border: 4px solid white;
    }
    .footer_sns_text {
      vertical-align: top;
      display: inline-block;
      line-height: 3rem;
    }
  }
}