$themaPink: #fb615c;
$accentNavy: #282b60;
$circleColor: #525580;
$innerBoxColor: #8588A7;
$laravelOsakaColor: #9094bd;

$fontSizeBase: 14px;
$fontFamilyBase: 'Noto Sans Japanese', serif;
$fontWeightBase: 100;
