$themaPink: #fb615c;
$accentNavy: #282b60;
$circleColor: #525580;
$innerBoxColor: #8588A7;
$laravelOsakaColor: #9094bd;
$creamYellowColor: #fcf5ed;

$fontSizeBase: 14px;
// Webフォントが重いので
$fontFamilyBase: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontWeightBase: 100;

$breakpoint: 800px;

@mixin media {
  @media screen and (max-width: $breakpoint) {
    //スマホのときの記述
    @content;
  }
}
//@media screen and (max-width: 767px) {
//          /* 767px以下用（タブレット／スマートフォン用）の記述 */
//}
//@media screen and (max-width: 479px) {
//          /* 479px以下用（スマートフォン用）の記述 */
//}
