$themaPink: #fb615c;
$themaPink--opacity: rgba(251, 97, 92, 0.8);
$accentNavy: #282b60;
$accentNavy--opacity: rgba(40, 43, 96, 0.8);
$accentNavy--opacityMoreMore: rgba(40, 43, 96, 0.6);
$white--opacity: rgba(255, 255, 255, 0.6);
$white--opacityMore: rgba(255, 255, 255, 0.6);
$white--opacityMoreMore: rgba(255, 255, 255, 0.4);
$creamYellowColor: #fcf5ed;
$creamYellowColor--opacity: rgba(252, 245, 237, 0.8);

$fontSizeBase--pc: 16px; //pc
$fontSizeBase--sp: 14px; //sp

// Webフォントが重いので
$fontFamilyBase: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontWeightBase: 100;

$breakpoint: 800px;

@mixin media {
  @media screen and (max-width: $breakpoint) {
    //スマホのときの記述
    @content;
  }
}
