@import "./_mixin.scss"; // 読み込み必要らしいので残しておく
@import "./_adjustLayout.scss"; // 読み込み必要らしいので残しておく
//◯と見出し
.contentHeadingMark--white { //h2の上の◎
  @include blockCentered;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  border: 6px solid $white--opacity;
  @include media {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    border: 5px solid $white--opacity;
  }
}
.contentHeadingMark--navy { //h2の上の◎
  @include blockCentered;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  border: 6px solid $accentNavy--opacity;
  @include media {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    border: 5px solid $accentNavy--opacity;
  }
}
.contentHeading--white { //コンテンツのタイトル（h2）
  color: white;
  text-align: center;
  @include media {
    font-size: $fontSizeBase--sp * 1.2;
  }
}
.contentHeading--navy { //コンテンツのタイトル（h2）
  color: $accentNavy;
  text-align: center;
  @include media {
    font-size: $fontSizeBase--sp * 1.2;
  }
}
@mixin linkBtn {
  //ボタンサイズ（横幅）が可変になってるので
  //各ボタンの.lB_innerBox_textのpadding-left/padding-right
  //を調整してだいたい同じサイズにする
  display: inline-block; //消さないこと
  background-color: $accentNavy;
  padding: 3px;
  .linkBtn_innerBox {
    border: 2px solid $white--opacityMore;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    height: 4rem;
    .lB_innerBox_circleMark--left {
      margin-left: 0.5rem;
    }
    .lB_innerBox_circleMark--right {
      margin-right: 0.5rem;
    }
    .lB_innerBox_circleMark--left,
    .lB_innerBox_circleMark--right {
      display: inline-block;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      border: 4px solid $white--opacityMoreMore;
    }
    .lB_innerBox_text {
      vertical-align: top;
      display: inline-block;
      color: white;
      line-height: 4rem;
    }
  }
}
