/*このファイルはindex.scssにちゃんと書き直したら削除するべし*/

@import "./_mixin.scss"; // 読み込み必要らしいので残しておく

// 全画面に表示する際にはhtmlから100%に
html,body{
  height:100%;
}

body {
  background-color: $creamYellowColor;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase--pc;
  @include media {
    font-size: $fontSizeBase--sp;
  }
}

.background{
  //背景固定したいときはDOMを1つ置いてみる。
  width: 100VW;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background-image: url('../../img/main.jpg');
  background-size: cover;
  z-index: -1;
}
