@import "./_common.scss"; // 背景、body
@import "./_mixin.scss"; // 色コード、フォントサイズ、メディアクエリ
@import "./_parts.scss"; // ページ間共通部品
@import "./_footer.scss"; // 共通フッター
@import "./_propertyReset.scss"; // タグのデフォルトプロパティのリセット
@import "./_adjustLayout.scss"; // 部品、レイアウト調整の関数

.l-cover {
  padding-bottom: 3rem;
  @include media {
    padding-top: 3rem;
  }
  .cover_borderBox { //ギザギザ専用のdiv（背景透明）
    width: 530px;
    margin-right: auto;
    margin-left: auto;
    border-image: url("../../img/border-img.png") 15 round;
    border-style:solid;
    border-width: 0 6px 6px 6px;
    @include media {
      border-width: 6px 0 6px 0;
      width: 100VW;
    }
    .cv_borderBox_contentBox { //ギザギザの内側エリア（背景ピンク）
      background-color: rgba(251, 97, 92, 0.8);
      padding-top: 3rem;
      @include media {
        padding-top: 2rem;
      }
      .cv_bB_contentBox_laravelOsakaLogo {
        @include blockCentered;
        display: block;
        width: 60%;
        padding-bottom: 3rem;
        @include media {
          width: 240px;
          padding-bottom: 2rem;
        }
      }
      .cv_bB_contentBox_infoBox {
        width: 40%;
        @include blockCentered;
        display: block;
        padding-bottom: 2rem;
        @include media {
          width: 200px;
        }
        .cv_bB_cB_infoBox_dateInfo {
          padding-bottom: 1rem;
          @include media {
            padding-bottom: 0.5rem;
          }
        }
        .cv_bB_cB_B_dateInfo_icon,
        .cv_bB_cB_B_dateInfo_text,
        .cv_bB_cB_B_placeInfo_icon,
        .cv_bB_cB_B_placeInfo_link {
          display: inline-block;
        }
        .cv_bB_cB_B_dateInfo_icon,
        .cv_bB_cB_B_placeInfo_icon {
          background-color: $white--opacity;
          color: $themaPink;
          text-align:  center;
          line-height: 2.5rem;
          border-radius: 2.5em;
          width: 2.5em;
          height: 2.5em;
        }
        .cv_bB_cB_B_dateInfo_text,
        .cv_bB_cB_B_placeInfo_link {
          font-size: $fontSizeBase--pc * 1.4;
          color: white;
          @include media {
            font-size: $fontSizeBase--sp * 1.3;
          }
        }
        .cv_bB_cB_B_dateInfo_text {
          padding-left: 1rem;
          @include media {
            padding-left: 0.6rem;
          }
        }
        .cv_bB_cB_B_placeInfo_link {
          padding-left: 1.4rem;
          @include media {
            padding-left: 1rem;
          }
        }
      }
      //800以下：display:none
      //.cover_borderBoxの中
      .linkBtnBox--recruitSpeakerSponsor--pc {
        padding-bottom: 2rem;
        text-align: center;
        .lBB_linkBtn--recruitSpeaker,
        .lBB_linkBtn--recruitParticipantLT,
        .lBB_linkBtn--recruitSponsor {
          @include linkBtn;
        }
        .lBB_linkBtn--recruitSpeaker {
          margin-right: 0.5rem;
          .lB_innerBox_text { //ボタンwidthの調整
            padding-left: 2.1rem;
            padding-right: 2.1rem;
          }
        }
        .lBB_linkBtn--recruitParticipantLT {
          margin-right: 0.5rem;
          .lB_innerBox_text { //ボタンwidthの調整
            padding-left: 0.1rem;
            padding-right: 0.1rem;
          }
        }
        .lBB_linkBtn--recruitSponsor {
          margin-left: 0.5rem;
          .lB_innerBox_text { //ボタンwidthの調整
            padding-left: 1.1rem;
            padding-right: 1.1rem;
          }
        }
        @include media {
          display: none;
        }
      }
    }
  }
  //800以下：display:block
  //.cover_borderBoxの外
  .linkBtnBox--recruitSpeakerSponsor--sp {
    display: none;
    @include media {
      //表示
      display: block;
      //以下、プロパティの適応
      @include blockCentered;
      padding-top: 3rem;
      width: 50VW;
      min-width: 300px;
      text-align: center;
      .lBB_linkBtn--recruitSpeaker,
      .lBB_linkBtn--recruitParticipantLT,
      .lBB_linkBtn--recruitSponsor {
        @include linkBtn;
      }
      .lBB_linkBtn--recruitSpeaker {
        margin-bottom: 0.2rem;
        .lB_innerBox_text { //ボタンwidthの調整
          padding-left: 2.1rem;
          padding-right: 2.1rem;
        }
      }
      .lBB_linkBtn--recruitParticipantLT {
        margin-bottom: 0.2rem;
        .lB_innerBox_text { //ボタンwidthの調整
          padding-left: 0.375rem;
          padding-right: 0.375rem;
        }
      }
      .lBB_linkBtn--recruitSponsor {
        margin-top: 0.2rem;
        .lB_innerBox_text { //ボタンwidthの調整
          padding-left: 1.25rem;
          padding-right: 1.25rem;
        }
      }
    }
  }
}
.l-aboutLaravelOsaka {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    background-size: 10% auto;
  }
  .laravelOsakaOverview {
    color: $accentNavy;
    text-align: center;
    line-height: 2rem;
    font-size: $fontSizeBase--pc * 1.1;
    padding-top: 2rem;
    @include media {
      line-height: 1.4rem;
      font-size: $fontSizeBase--sp;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
.l-sessionIndex {
  background-color: $themaPink--opacity;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sessionBox {
    padding-top: 2rem;
    text-align: center;
    @include media {
      padding-top: 1rem;
    }
    .sB_session {
      position: relative;
      display: inline-block;
      width: 43%;
      min-width: 300px;
      .sB_session_speakerImgBox {
        text-align: center;
        width: 45%;
        padding-top: 15px; // 一応きれいやけど修正可能性あり
        padding-bottom: 15px; // 一応きれいやけど修正可能性あり
        .sB_session_sIB_speakerImg--hidden,
        .sB_session_sIB_speakerImg {
          @include autoCircleSize(80%);
          display: inline-block;
          max-width: 160px;
        }
        .sB_session_sIB_speakerImg--hidden {
          visibility: hidden;
        }
      }
      .sB_session_title,
      .sB_session_speakerCompany,
      .sB_session_speakerName {
        color: white;
        position: absolute;
        left: 45%;
      }
      .sB_session_title--andMore {
        color: white;
        position: absolute;
        margin-top: 0;
        top: 45%;
        left: 40%;
        @include media {
          top: 40%;
        }
      }
      .sB_session_title {
        top: 7%;
        line-height: 1.5rem;
        text-align: left;
        font-size: 1.1rem;
        @include media {
          line-height: $fontSizeBase--sp * 1.3;
          font-size: $fontSizeBase--sp;
        }
      }
      .sB_session_speakerCompany {
        top: 55%;
        font-size: $fontSizeBase--pc * 0.8;
        @include media {
          top: 58%;
          font-size: $fontSizeBase--sp * 0.7;
        }
      }
      .sB_session_speakerName {
        top: 70%;
      }
    }
  }
  .linkBtnBox--sessionDetailPage {
    text-align: center;
    padding-top: 2rem;
    @include media {
      padding-top: 0;
    }
    .lBB_linkBtn--sessionDetailPage {
      //@include blockCentered;
      @include linkBtn;
      .lB_innerBox_text { //ボタンwidthの調整
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }
}
.l-timeTable {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    background-size: 10% auto;
  }
  .timeTableSheet {
    @include blockCentered;
    width: 80VW;
    max-width: 800px;
    padding-top: 2rem;
    @include media {
      padding-top: 1rem;
    }
    .timeTableSheet_box {
      background-color: white;
      height: 5rem;
      margin-bottom: 0.5rem;
      @include media {
        height: 3.5rem;
      }
      .timeTableSheet_box_time,
      .timeTableSheet_box_content--opening,
      .timeTableSheet_box_content--sessionA,
      .timeTableSheet_box_content--lunchTime,
      .timeTableSheet_box_content--sessionB,
      .timeTableSheet_box_content--sessionC,
      .timeTableSheet_box_content--LT,
      .timeTableSheet_box_content--closing {
        display: inline-block;
        line-height: 5rem;
        @include media {
          line-height: 3.5rem;
        }
      }
      .timeTableSheet_box_content--opening,
      .timeTableSheet_box_content--sessionA,
      .timeTableSheet_box_content--lunchTime,
      .timeTableSheet_box_content--sessionB,
      .timeTableSheet_box_content--sessionC,
      .timeTableSheet_box_content--LT,
      .timeTableSheet_box_content--closing {
        color: $accentNavy;
        padding-left: 1.5rem;
        font-size: $fontSizeBase--pc * 1.1;
        @include media {
          padding-left: 1rem;
          font-size: $fontSizeBase--sp * 1.1;
        }
      }
      .timeTableSheet_box_content--sessionA,
      .timeTableSheet_box_content--sessionB,
      .timeTableSheet_box_content--sessionC,
      .timeTableSheet_box_content--LT {
        font-weight: bold;
      }
      .timeTableSheet_box_time {
        background-color: $themaPink;
        color: white;
        font-size: $fontSizeBase--pc * 1.2;
        padding-left: 2rem;
        padding-right: 2rem;
        @include media {
          font-size: $fontSizeBase--sp * 1.2;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
  .timeTableAttention {
    @include blockCentered;
    display: block;
    color: $accentNavy;
    font-size: $fontSizeBase--pc * 0.8;
    width: 80VW;
    max-width: 800px;
    line-height: 1.2rem;
    @include media {
      font-weight: $fontSizeBase--sp * 0.8;
    }
  }
}
.l-access {
  position: relative;
  height: 700px;
  @include media {
    height: auto;
  }
  .accessMap {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    @include media {
      height: 50VW;
    }
  }
  .accessInfoBox {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $themaPink;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    @include media {
      padding-top: 2rem;
      padding-bottom: 3rem;
      position: static;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
    }
    .accessInfo_address,
    .accessInfo_station,
    .accessInfo_requiredTime {
      color: white;
      margin-left: 2.5rem;
      margin-right: 6rem;
      @include media {
        margin-right: 0;
      }
    }
    .accessInfo_address {
      font-size: 0.9rem;
      padding-top: 0.5rem;
      @include media {
        font-size: $fontSizeBase--sp * 0.9;
        padding-top: 0.5rem;
      }
    }
    .accessInfo_station {
      margin-top: 2.2rem;
      margin-bottom: 0.3rem;
      font-size: 1.1rem;
      @include media {
        margin-top: 1.5rem;
        font-size: $fontSizeBase--sp * 1.1;
      }
    }
    .linkBtnBox--googleMap {
      text-align: center;
      margin-top: 3rem;
      @include media {
        margin-top: 1.5rem;
      }
      .lBB_linkBtn--googleMap {
        @include linkBtn;
        .lB_innerBox_text { //ボタンwidthの調整
          padding-left: 0.6rem;
          padding-right: 0.4rem;
        }
      }
    }
  }
}
.l-sponsor {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-size: 10% auto;
  }
  .sponsorBox { //まだスポンサー決まってないのでjadeはコメントアウトされてる
    display: block;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    max-width: 850px;
    @include media {
      padding-top: 1rem;
      width: 100%;
    }
    .sponsorBox_sponsorLogoli {
      display: inline-block;
      width: 43%;
      vertical-align: top;
      @include media {
        width: 100%;
      }
      .sponsorLink {
        display: inline-block;
        background-color: white;
        width: 17rem;
        height: 9rem;
        margin-bottom: 3rem;
        //スポンサーが揃ったら
        //カイトさんの変態的CSSを参考に
        //大きさを揃える
        .sponsorBox_sponsorLogo--MOTEX {
          height: 55%;
          padding-top: 13%;
        }
        .sponsorBox_sponsorLogo--chatbox,
        .sponsorBox_sponsorLogo--unzip {
          height: 60%;
          padding-top: 10%;
        }
        .sponsorBox_sponsorLogo--zeals {
          height: 40%;
          padding-top: 15%;
        }
      }
    }
  }
  .linkBtnBox--recruitSponsor {
    text-align: center;
    padding-top: 2rem;
    .lBB_linkBtn--recruitSponsor {
      @include linkBtn;
      .lB_innerBox_text { //ボタンwidthの調整
        padding-left: 1.1rem;
        padding-right: 1.1rem;
      }
    }
  }
}
