//@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
//@import "./_footer.scss"; //新しいfooterに変えるので不要

@import "./_mixin.scss"; // 色コード、フォントサイズ、メディアクエリ
@import "./_parts.scss"; // ページ間共通部品
@import "./_propertyReset.scss"; // タグのデフォルトプロパティのリセット
@import "./_adjustLayout.scss"; // 部品、レイアウト調整の関数
@import "./_cover.scss"; // あとで修正が必要なsass（削除するべきかも）
@import "./common.scss"; // 修正後、削除

/*コーディング用の枠（あとで消す）*/
div, p, ul, li, a {
  //border: 1px solid lightgrey;
}
body {
  font-family: $fontFamilyBase;
}
/*もともとのやつを修正したら*に書き換え*/
.l-aboutLaravelOsaka,
.l-sessionIndex,
.l-access,
.l-sponsor,
.l-footer {
  font-size: $fontSizeBase--pc;
  @include media {
    font-size: $fontSizeBase--sp;
  }
}
/*コンテンツ毎*/
.l-aboutLaravelOsaka {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    background-size: 10% auto;
  }
  .laravelOsakaOverview {
    color: $accentNavy;
    text-align: center;
    line-height: 2rem;
    font-size: $fontSizeBase--pc * 1.1;
    padding-top: 2rem;
    @include media {
      line-height: 1.4rem;
      font-size: $fontSizeBase--sp;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
.l-sessionIndex {
  background-color: $themaPink--opacity;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sessionBox {
    padding-top: 2rem;
    text-align: center;
    @include media {
      padding-top: 1rem;
    }
    .sB_session {
      position: relative;
      display: inline-block;
      width: 43%;
      min-width: 300px;
      .sB_session_speakerImgBox {
        text-align: center;
        width: 45%;
        padding-top: 15px; // 一応きれいやけど修正可能性あり
        padding-bottom: 15px; // 一応きれいやけど修正可能性あり
        .sB_session_sIB_speakerImg--hidden,
        .sB_session_sIB_speakerImg {
          @include autoCircleSize(80%);
          display: inline-block;
          max-width: 160px;
        }
        .sB_session_sIB_speakerImg--hidden {
          visibility: hidden;
        }
      }
      .sB_session_title,
      .sB_session_speakerCompany,
      .sB_session_speakerName {
        color: white;
        position: absolute;
        left: 45%;
      }
      .sB_session_title--andMore {
        color: white;
        position: absolute;
        margin-top: 0;
        top: 45%;
        left: 40%;
        @include media {
          top: 40%;
        }
      }
      .sB_session_title {
        top: 7%;
        line-height: 1.5rem;
        text-align: left;
        font-size: 1.1rem;
        @include media {
          line-height: $fontSizeBase--sp * 1.3;
          font-size: $fontSizeBase--sp;
        }
      }
      .sB_session_speakerCompany {
        top: 55%;
        @include media {
          top: 58%;
          font-size: $fontSizeBase--sp * 0.9;
        }
      }
      .sB_session_speakerName {
        top: 70%;
      }
    }
  }
  .linkBtnBox--sessionDetailPage {
    text-align: center;
    padding-top: 2rem;
    @include media {
      padding-top: 0;
    }
    .lBB_linkBtn--sessionDetailPage {
      //@include blockCentered;
      @include linkBtn;
      .lB_innerBox_text { //ボタンwidthの調整
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }
}
.l-access {
  .accessInfoBox {
    background-color: $themaPink;
    width: 40VW; //仮
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
    .accessInfo_address,
    .accessInfo_station,
    .accessInfo_requiredTime {
      color: white;
      margin-left: 3VW; //仮
    }
    .accessInfo_address {
      font-size: 0.9rem;
      padding-top: 1rem;
      @include media {
        font-size: $fontSizeBase--sp * 0.9;
        padding-top: 0.5rem;
      }
    }
    .accessInfo_station {
      margin-top: 2.2rem;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      @include media {
        margin-top: 1.5rem;
        font-size: $fontSizeBase--sp * 1.1;
      }
    }
    .linkBtnBox--googleMap {
      text-align: center;
      margin-top: 3rem;
      @include media {
        margin-top: 1.5rem;
      }
      .lBB_linkBtn--googleMap {
        @include linkBtn;
        .lB_innerBox_text { //ボタンwidthの調整
          padding-left: 0.6rem;
          padding-right: 0.4rem;
        }
      }
    }
  }
}
.l-sponsor {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-size: 10% auto;
  }
  .sponsorBox {
    text-align: center;
    .sponsorBox_sponsorLogo {
      display: inline-block;
      background-color: white;
      margin: 2rem; //仮
      width: 18rem; //仮
      height: 10rem; //仮
      @include media {
        width: 70%;
        max-width: 18rem;
      }
    }
  }
}
.l-footer {
  background-color: $themaPink;
  padding-top: 20px; //仮
  .footer_laravelOsaka,
  .footer_sns_text {
    color: white;
  }
  .footer_laravelOsaka {
    text-align: center;
  }
  .footer_sns {
    text-align: center;
    .footer_sns--connpass {
      padding-right: 1rem;
      @include media {
        padding-right: 0.5rem;
      }
    }
    .footer_sns--facebook {
      padding-left: 1rem;
      @include media {
        padding-left: 0.5rem;
      }
    }
    .footer_sns--connpass,
    .footer_sns--facebook {
      display: inline-block;
      height: 3rem;
    }
    .footer_sns_circleMark {
      display: inline-block;
      margin: 1rem 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      border: 4px solid white;
    }
    .footer_sns_text {
      vertical-align: top;
      display: inline-block;
      line-height: 3rem;
    }
  }
}