@import "./_common.scss"; // 背景、body
@import "./_mixin.scss"; // 色コード、フォントサイズ、メディアクエリ
@import "./_parts.scss"; // ページ間共通部品
@import "./_header.scss"; // ヘッダー
@import "./_footer.scss"; // 共通フッター
@import "./_propertyReset.scss"; // タグのデフォルトプロパティのリセット
@import "./_adjustLayout.scss"; // 中央揃えなど、レイアウト調整の関数

.l-pageArea--sessionDetail {
  //タイトルの高さが変わったらどうなるか問題
  //中の文字の大きさを変えて高さ統一がいいかな？
  background-color: $themaPink--opacity;
  padding-top: 4rem;
  padding-bottom: 6rem;
  @include media {
    padding-top: 2rem;
  }
  .sessionDetail {
    position: relative;
    margin-top: 4rem;
    @include media {
      margin-top: 3rem;
    }
    .sessionDetail_contentBox--topParts {
      @include blockCentered;
      height: 1.5rem;
      width: 80VW;
      max-width: 900px;
      background-color: $creamYellowColor--opacity;
      @include media {
        width: 90VW;
        height: 1rem;
      }
    }
    .sessionDetail_boxForTitleBoxCentering {
      .sessionDetail_bFTBC_titleBox {
        @include blockCentered;
        width: 85VW;
        max-width: 920px;
        background-color: $accentNavy;
        padding: 3px;
        @include media {
          width: 95VW;
        }
        .sD_bFTBC_titleBox_innerBox {
          border: 2px solid $white--opacityMore;
          .sD_bFTBC_tB_innerBox_title {
            line-height: 1.6rem;
            font-size: $fontSizeBase--pc * 1.2;
            height: 54px; //titleBoxの高さを一定に設定
            margin: 1rem 2rem;
            color: white;
            @include media {
              font-size: $fontSizeBase--sp;
              margin: 1rem;
              height: 65px;
              line-height: 1.3rem;
            }
          }
        }
      }
    }
    .sessionDetail_contentBox {
      @include blockCentered;
      padding-bottom: 3rem;
      width: 80VW;
      max-width: 900px;
      background-color: $creamYellowColor--opacity;
      @include media {
        width: 90VW;
        padding-bottom: 3.5rem;
      }
      .sD_contentBox_overview {
        line-height: 1.8rem;
        padding: 1.8rem 2rem;
        color: $accentNavy;
        @include media {
          padding: 1.2rem;
          line-height: 1.4rem;
        }
      }
      .sD_contentBox_hr {
        font-size: $fontSizeBase--pc * 0.7;
        text-align: center;
        color: $accentNavy--opacityMoreMore;
        padding-top: 1rem;
        padding-bottom: 3rem;
        @include media {
          font-size: $fontSizeBase--sp * 0.7;
          padding-top: 0.5rem;
          padding-bottom: 1.5rem;
        }
        .sD_contentBox_hr_part {
          padding-left: 0.3rem;
          padding-right: 0.3rem;
          @include media {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
          }
        }
      }
      .sD_contentBox_speakerBox {
        @include blockCentered;
        position: relative;
        width: 95%;
        @include media {
          width: 98%;
        }
        .sD_cB_speakerBox_imageSns {
          width: 35%;
          .sD_cB_sB_imageSns_imageBox {
            text-align: center;
            .sD_cB_sB_iS_imageBox_image {
              @include autoCircleSize(80%);
              display: inline-block;
              max-width: 160px;
              @include media {}
              @include autoCircleSize(75%);
            }
          }
          .sD_cB_sB_imageSns_snsBox {
            text-align: center;
            padding-top: 0.5rem;
            .sD_cB_sB_iS_snsBox_sns {
              display: inline-block;
              margin: 0 0.5rem;
              @include media {
                margin: 0;
              }
              .sD_cB_sB_iS_snsBox_sns--twitter,
              .sD_cB_sB_iS_snsBox_sns--facebook,
              .sD_cB_sB_iS_snsBox_sns--link {
                display: inline-block;
                background-color: $white--opacity;
                text-align: center;
                line-height: 2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 2.4rem;
                color: $themaPink;
                @include media {
                  font-size: $fontSizeBase--sp;
                  line-height: 1.8rem;
                  width: 1.8rem;
                  height: 1.8rem;
                  border-radius: 1.8rem;
                }
              }
            }
          }
        }
        .sD_cB_speakerBox_company,
        .sD_cB_speakerBox_name,
        .sD_cB_speakerBox_kana,
        .sD_cB_speakerBox_description {
          color: $themaPink;
          position: absolute;
          left: 36%;
        }
        .sD_cB_speakerBox_company {
          top: 0;
          font-size: $fontSizeBase--pc * 1.1;
          @include media {
            font-size: $fontSizeBase--sp * 1;
          }
        }
        .sD_cB_speakerBox_name {
          top: 18%;
          font-weight: bold;
          font-size: $fontSizeBase--pc * 1.1;
          @include media {
            font-size: $fontSizeBase--sp;
          }
        }
        .sD_cB_speakerBox_kana {
          top: 33%;
          font-size: $fontSizeBase--pc * 0.8;
        }
        .sD_cB_speakerBox_description {
          top: 51%;
          line-height: 1.8rem;
          padding-right: 4rem;
          @include media {
            font-size: $fontSizeBase--sp * 0.8;
            padding-right: 0.5rem;
            line-height: 1.1rem;
          }
        }
      }
    }
  }
  .linkBtnBox--topPage {
    text-align: center;
    padding-top: 5rem;
    .lBB_linkBtn--topPage {
      @include linkBtn;
      .lB_innerBox_text { //ボタンwidthの調整
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }
}