@import "./_mixin.scss"; // 色コード、フォントサイズ、メディアクエリ
@import "./_parts.scss"; // ページ間共通部品
@import "./_propertyReset.scss"; // タグのデフォルトプロパティのリセット
@import "./_adjustLayout.scss"; // 中央揃えなど、レイアウト調整の関数
@import "./common.scss"; // 修正後、削除

/*コーディング用の枠（あとで消す）*/
div, p, ul, li, a {
  //border: 1px solid lightgrey;
}
.l-header {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  .header_laravelOsaka {
    color: $themaPink;
    display: inline-block;
  }
}
.l-pageArea--sessionDetail {
  /*タイトルの高さが変わったらどうなるか問題
    中の文字の大きさを変えて高さ統一がいいかな？*/
  background-color: $themaPink--opacity;
  .sessionDetail {
    position: relative;
    .sessionDetail_boxForTitleBoxCentering {
      position: absolute;
      top: 30px;
      width: 100VW;
      .sessionDetail_bFTBC_titleBox {
        @include blockCentered;
        width: 85VW; //仮
        max-width: 920px; //仮
        background-color: $accentNavy;
        padding: 3px;
        .sD_bFTBC_titleBox_innerBox {
          border: 2px solid $white--opacityMore;
          .sD_bFTBC_tB_innerBox_title {
            margin: 1rem 2rem;
            color: white;
          }
        }
      }
    }
    .sessionDetail_contentBox {
      @include blockCentered;
      width: 80VW; //仮
      max-width: 900px; //仮
      background-color: $creamYellowColor--opacity;
      .sD_contentBox_overview {
        padding-top: 140px; //仮。position:absolute使うので。
        padding-right: 2rem; //仮。position:absolute使うので。
        padding-left: 2rem; //仮。position:absolute使うので。
        color: $accentNavy;
      }
      .sD_contentBox_hr {
        text-align: center;
        color: $accentNavy--opacityMoreMore;
      }
      .sD_contentBox_speakerBox {
        position: relative;
        width: 70%;
        .sD_cB_speakerBox_imageSns {
          width: 45%;
          .sD_cB_sB_imageSns_imageBox {
            text-align: center;
            .sD_cB_sB_iS_imageBox_image {
              @include autoCircleSize(80%);
              display: inline-block;
              max-width: 180px;
            }
          }
          .sD_cB_sB_imageSns_snsBox {
            text-align: center;
            .sD_cB_sB_iS_snsBox_sns {
              background-color: white;
              color: $themaPink;
              text-align: center;
              display: inline-block;
              line-height: 2rem; //仮
              width: 2rem; //仮
              height: 2rem; //仮
              border-radius: 2rem; //仮
            }
          }
        }
        .sD_cB_speakerBox_company,
        .sD_cB_speakerBox_name,
        .sD_cB_speakerBox_kana,
        .sD_cB_speakerBox_description {
          color: $themaPink;
          position: absolute;
          left: 45%;
        }
        .sD_cB_speakerBox_company {
          top: 0;
        }
        .sD_cB_speakerBox_name {
          top: 18%;
          font-weight: bold;
        }
        .sD_cB_speakerBox_kana {
          top: 28%;
        }
        .sD_cB_speakerBox_description {
          top: 46%;
        }
      }
    }
  }
  .linkBtnBox--topPage {
    text-align: center;
    .lBB_linkBtn--topPage {
      @include linkBtn;
      .lB_innerBox_text { //ボタンwidthの調整
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }
}