#borderBox
    #cover
        img.logo(src='./img/logo.png')
        .infoArea
            .info
                .icon
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                p 2016.10.29.sat
            .info
                .icon
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                p
                    a(href="http://www.motex.co.jp/" target="_blank") MOTEX Inc.

        .recruitArea
            a.recruitBtn.speakerBtn(href="http://goo.gl/forms/Sov0kYwiWbYNUvWR2" target="_blank")
                .innerBox
                    .circle.circleLeft
                    p 登壇者 募集
                    .circle.circleRight
            a.recruitBtn.sponsorBtn(href="http://goo.gl/forms/QAGiQUlDO26rYp173" target="_blank")
                .innerBox
                    .circle.circleLeft
                    p スポンサー 募集
                    .circle.circleRight