.l-footer
    p.footer_laravelOsaka Laravel.Osaka
    ul.footer_sns
        li.footer_sns--connpass
            .footer_sns_circleMark
            a.footer_sns_text(href="http://laravel.connpass.com/" target="_blank") connpass
        li.footer_sns--facebook
            .footer_sns_circleMark
            a.footer_sns_text(href="https://www.facebook.com/laravel.osaka" target="_blank") facebook
