//使わない

//#footer
//    p.title laravel.osaka
//    .snsArea
//      a.snsLink.connpass(href="http://laravel.connpass.com/" target="_blank") connpass
//      &nbsp;&nbsp;
//      a.snsLink.facebook(href="https://www.facebook.com/laravel.osaka" target="_blank") facebook