#cover
    img.logo(src='../../img/logo.png')
    .infoArea
        .info
            .icon
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            p 2016.10.下旬
        .info
            .icon
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            p MOTEX 株式会社

    .recruitArea
        .recruitBtn
            .innerBox
                .circleLeft
                    .circle
                .message
                    p 登壇者 募集
                .circleRight
                    .circle
        .recruitBtn
            .innerBox
                .circleLeft
                    .circle
                .message
                    p スポンサー 募集
                .circleRight
                    .circle