#cover
    img.logo(src='../../img/logo.png')
    .infoArea
        .info
            .icon
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            p 2016.10.下旬
        .info
            .icon
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            p MOTEX 株式会社

    .recruitArea
        a.recruitBtn.speakerBtn(href="#")
            .innerBox
                .circle.circleLeft
                p 登壇者 募集
                .circle.circleRight
        a.recruitBtn.sponsorBtn(href="#")
            .innerBox
                .circle.circleLeft
                p スポンサー 募集
                .circle.circleRight