doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
    title laravel.osaka
    link(rel="icon" type="image/png" href="./img/favicon.ico")
    script(type='text/javascript')
    link(rel='stylesheet' href='./assets/css/index.css')
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    meta(property="og:title", content="laravel.osaka 2016")
    meta(property="og:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
    meta(property="og:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
    meta(property="og:url", content="http://php-jp.github.io/laravel-osaka-2016/")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="laravel.osaka 2016")
    meta(name="twitter:description", content="１日まるごとLaravelのPHPエンジニア向けイベント。Laravel.osaka 2016 10月29日開催です。")
    meta(name="twitter:image", content="http://php-jp.github.io/laravel-osaka-2016/img/ogp.jpg")
    script(src='https://use.fontawesome.com/28928d40e8.js')
  body
    .background
    //見出し（あとで修正）
    .l-cover
      include ./_cover.jade
      #sp-recruitArea
        a.recruitBtn.speakerBtn(href="http://goo.gl/forms/Sov0kYwiWbYNUvWR2")
          .innerBox
            .circle.circleLeft
            p 登壇者 募集
            .circle.circleRight
        a.recruitBtn.sponsorBtn(href="http://goo.gl/forms/QAGiQUlDO26rYp173")
          .innerBox
            .circle.circleLeft
            p スポンサー 募集
            .circle.circleRight
      //include ./_footer.jade

    //laravel.osakaについて
    .l-aboutLaravelOsaka
      .contentHeadingMark--navy
      h2.contentHeading--navy Laravel Osaka 2016 とは
      p.laravelOsakaOverview PHPアプリケーション・フレームワーク「Laravel」をテーマにした
        br
        |関西では初めてのイベントです。
        br
        |Laravelを日常の業務でバリバリ使ってる猛者をはじめ、
        br
        |これからLaravel/PHPをはじめようとする人にも楽しめる内容盛りだくさん!!
        br
        |「Laravelに興味があるけど難しい・・・」
        br
        |「フレームワークが初めてなんだけど・・・」
        br
        |という方も是非お気軽にご参加ください!!

    //セッション一覧
    .l-sessionIndex
      .contentHeadingMark--white
      h2.contentHeading--white セッション一覧
      ul.sessionBox
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg(src="http://placehold.it/150x150")
          h3.sB_session_title フロントエンドとコンテンツ配信のミライーWebはどう変わるかー
          p.sB_session_speakerCompany 株式会社chatbox
          p.sB_session_speakerName 後藤知宏
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg(src="http://placehold.it/150x150")
          h3.sB_session_title フロントエンドとコンテンツ配信のミライーWebはどう変わるかー
          p.sB_session_speakerCompany 株式会社chatbox
          p.sB_session_speakerName 後藤知宏
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg(src="http://placehold.it/150x150")
          h3.sB_session_title フロントエンドとコンテンツ配信のミライーWebはどう変わるかー
          p.sB_session_speakerCompany 株式会社chatbox
          p.sB_session_speakerName 後藤知宏
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg(src="http://placehold.it/150x150")
          h3.sB_session_title フロントエンドとコンテンツ配信のミライーWebはどう変わるかー
          p.sB_session_speakerCompany 株式会社chatbox
          p.sB_session_speakerName 後藤知宏
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg(src="http://placehold.it/150x150")
          h3.sB_session_title フロントエンドとコンテンツ配信のミライーWebはどう変わるかー
          p.sB_session_speakerCompany 株式会社chatbox
          p.sB_session_speakerName 後藤知宏
        li.sB_session
          .sB_session_speakerImgBox
            img.sB_session_sIB_speakerImg--hidden(src="http://placehold.it/150x150")
          h3.sB_session_title--andMore and more...
      //.linkBtn--sessionDetailPage ◎詳細を見る◎

      .linkBtnBox--sessionDetailPage
        .lBB_linkBtn--sessionDetailPage
          .linkBtn_innerBox
            .lB_innerBox_circleMark--left
            p.lB_innerBox_text 詳細を見る
            .lB_innerBox_circleMark--right


    //アクセス
    .l-access
      .accessInfoBox
        .contentHeadingMark--white
        h2.contentHeading--white アクセス
        p.accessInfo_address 〒532-0011 大阪市淀川区西中島5-12-12
          br
          |エムオーテックス新大阪ビル

        h4.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |JR新大阪駅
        p.accessInfo_requiredTime 正面口より徒歩約7分

        h4.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |地下鉄御堂筋線新大阪駅
        p.accessInfo_requiredTime 7番出口より徒歩約5分

        h4.accessInfo_station <i class="fa fa-subway" aria-hidden="true"></i>
          |地下鉄御堂筋線西中島南方駅
        p.accessInfo_requiredTime 1番出口より徒歩約5分

        //.linkBtn--googleMap ◎Googlemapで開く◎

        .linkBtnBox--googleMap
          .lBB_linkBtn--googleMap
            .linkBtn_innerBox
              .lB_innerBox_circleMark--left
              p.lB_innerBox_text Googlemapで開く
              .lB_innerBox_circleMark--right

    //スポンサー一覧
    .l-sponsor
        .contentHeadingMark--navy
        h2.contentHeading--navy スポンサー
        ul.sponsorBox
            li.sponsorBox_sponsorLogo スポンサーロゴ
            li.sponsorBox_sponsorLogo スポンサーロゴ
            li.sponsorBox_sponsorLogo スポンサーロゴ
            li.sponsorBox_sponsorLogo スポンサーロゴ
            li.sponsorBox_sponsorLogo スポンサーロゴ
            li.sponsorBox_sponsorLogo スポンサーロゴ

    //共通フッター
    .l-footer
      p.footer_laravelOsaka Laravel.Osaka
      ul.footer_sns
        li.footer_sns--connpass
          .footer_sns_circleMark
          a.footer_sns_text(href="http://laravel.connpass.com/" target="_blank") connpass
        li.footer_sns--facebook
          .footer_sns_circleMark
          a.footer_sns_text(href="https://www.facebook.com/laravel.osaka" target="_blank") facebook

    br
    br
    include ./_ga.html
