@charset "UTF-8";
html, body {
  height: 100%; }

body {
  background-color: #fcf5ed;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px; }
  @media screen and (max-width: 800px) {
    body {
      font-size: 14px; } }

.background {
  width: 100VW;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../img/main.jpg");
  background-size: cover;
  z-index: -1; }

.contentHeadingMark--white {
  margin-left: auto;
  margin-right: auto;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  border: 6px solid rgba(255, 255, 255, 0.6); }
  @media screen and (max-width: 800px) {
    .contentHeadingMark--white {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0.8rem;
      border: 5px solid rgba(255, 255, 255, 0.6); } }

.contentHeadingMark--navy {
  margin-left: auto;
  margin-right: auto;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  border: 6px solid rgba(40, 43, 96, 0.8); }
  @media screen and (max-width: 800px) {
    .contentHeadingMark--navy {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0.8rem;
      border: 5px solid rgba(40, 43, 96, 0.8); } }

.contentHeading--white {
  color: white;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .contentHeading--white {
      font-size: 16.8px; } }

.contentHeading--navy {
  color: #282b60;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .contentHeading--navy {
      font-size: 16.8px; } }

.l-footer {
  background-color: #fb615c;
  padding-top: 20px; }
  .l-footer .footer_laravelOsaka,
  .l-footer .footer_sns_text {
    color: white; }
  .l-footer .footer_laravelOsaka {
    text-align: center; }
  .l-footer .footer_sns {
    text-align: center; }
    .l-footer .footer_sns .footer_sns--connpass {
      padding-right: 1rem; }
      @media screen and (max-width: 800px) {
        .l-footer .footer_sns .footer_sns--connpass {
          padding-right: 0.5rem; } }
    .l-footer .footer_sns .footer_sns--facebook {
      padding-left: 1rem; }
      @media screen and (max-width: 800px) {
        .l-footer .footer_sns .footer_sns--facebook {
          padding-left: 0.5rem; } }
    .l-footer .footer_sns .footer_sns--connpass,
    .l-footer .footer_sns .footer_sns--facebook {
      display: inline-block;
      height: 3rem; }
    .l-footer .footer_sns .footer_sns_circleMark {
      display: inline-block;
      margin: 1rem 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      border: 4px solid white; }
    .l-footer .footer_sns .footer_sns_text {
      vertical-align: top;
      display: inline-block;
      line-height: 3rem; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

.l-cover {
  padding-bottom: 3rem; }
  @media screen and (max-width: 800px) {
    .l-cover {
      padding-top: 3rem; } }
  .l-cover .cover_borderBox {
    width: 530px;
    margin-right: auto;
    margin-left: auto;
    border-image: url("../../img/border-img.png") 15 round;
    border-style: solid;
    border-width: 0 6px 6px 6px; }
    @media screen and (max-width: 800px) {
      .l-cover .cover_borderBox {
        border-width: 6px 0 6px 0;
        width: 100VW; } }
    .l-cover .cover_borderBox .cv_borderBox_contentBox {
      background-color: rgba(251, 97, 92, 0.8);
      padding-top: 3rem; }
      @media screen and (max-width: 800px) {
        .l-cover .cover_borderBox .cv_borderBox_contentBox {
          padding-top: 2rem; } }
      .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_laravelOsakaLogo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 60%;
        padding-bottom: 3rem; }
        @media screen and (max-width: 800px) {
          .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_laravelOsakaLogo {
            width: 240px;
            padding-bottom: 2rem; } }
      .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 2rem; }
        @media screen and (max-width: 800px) {
          .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox {
            width: 200px; } }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_infoBox_dateInfo {
          padding-bottom: 1rem; }
          @media screen and (max-width: 800px) {
            .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_infoBox_dateInfo {
              padding-bottom: 0.5rem; } }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_icon,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_text,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_icon,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_link {
          display: inline-block; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_icon,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_icon {
          background-color: rgba(255, 255, 255, 0.6);
          color: #fb615c;
          text-align: center;
          line-height: 2.5rem;
          border-radius: 2.5em;
          width: 2.5em;
          height: 2.5em; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_text,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_link {
          font-size: 22.4px;
          color: white; }
          @media screen and (max-width: 800px) {
            .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_text,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_link {
              font-size: 18.2px; } }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_text {
          padding-left: 1rem; }
          @media screen and (max-width: 800px) {
            .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_dateInfo_text {
              padding-left: 0.6rem; } }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_link {
          padding-left: 1.4rem; }
          @media screen and (max-width: 800px) {
            .l-cover .cover_borderBox .cv_borderBox_contentBox .cv_bB_contentBox_infoBox .cv_bB_cB_B_placeInfo_link {
              padding-left: 1rem; } }
      .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc {
        padding-bottom: 2rem;
        text-align: center; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT,
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor {
          display: inline-block;
          background-color: #282b60;
          padding: 3px; }
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox,
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox,
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox {
            border: 2px solid rgba(255, 255, 255, 0.6);
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            height: 4rem; }
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left {
              margin-left: 0.5rem; }
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
              margin-right: 0.5rem; }
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
              display: inline-block;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 0.5rem;
              border: 4px solid rgba(255, 255, 255, 0.4); }
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_text,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_text,
            .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_text {
              vertical-align: top;
              display: inline-block;
              color: white;
              line-height: 4rem; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker {
          margin-right: 0.5rem; }
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSpeaker .lB_innerBox_text {
            padding-left: 2.1rem;
            padding-right: 2.1rem; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT {
          margin-right: 0.5rem; }
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitParticipantLT .lB_innerBox_text {
            padding-left: 0.1rem;
            padding-right: 0.1rem; }
        .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor {
          margin-left: 0.5rem; }
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc .lBB_linkBtn--recruitSponsor .lB_innerBox_text {
            padding-left: 1.1rem;
            padding-right: 1.1rem; }
        @media screen and (max-width: 800px) {
          .l-cover .cover_borderBox .cv_borderBox_contentBox .linkBtnBox--recruitSpeakerSponsor--pc {
            display: none; } }
  .l-cover .linkBtnBox--recruitSpeakerSponsor--sp {
    display: none; }
    @media screen and (max-width: 800px) {
      .l-cover .linkBtnBox--recruitSpeakerSponsor--sp {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        width: 50VW;
        min-width: 300px;
        text-align: center; }
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker,
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT,
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor {
          display: inline-block;
          background-color: #282b60;
          padding: 3px; }
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox,
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox,
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox {
            border: 2px solid rgba(255, 255, 255, 0.6);
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            height: 4rem; }
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left {
              margin-left: 0.5rem; }
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
              margin-right: 0.5rem; }
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_circleMark--right,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
              display: inline-block;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 0.5rem;
              border: 4px solid rgba(255, 255, 255, 0.4); }
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .linkBtn_innerBox .lB_innerBox_text,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .linkBtn_innerBox .lB_innerBox_text,
            .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_text {
              vertical-align: top;
              display: inline-block;
              color: white;
              line-height: 4rem; }
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker {
          margin-bottom: 0.2rem; }
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSpeaker .lB_innerBox_text {
            padding-left: 2.1rem;
            padding-right: 2.1rem; }
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT {
          margin-bottom: 0.2rem; }
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitParticipantLT .lB_innerBox_text {
            padding-left: 0.375rem;
            padding-right: 0.375rem; }
        .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor {
          margin-top: 0.2rem; }
          .l-cover .linkBtnBox--recruitSpeakerSponsor--sp .lBB_linkBtn--recruitSponsor .lB_innerBox_text {
            padding-left: 1.25rem;
            padding-right: 1.25rem; } }

.l-aboutLaravelOsaka {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 5rem; }
  @media screen and (max-width: 800px) {
    .l-aboutLaravelOsaka {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      background-size: 10% auto; } }
  .l-aboutLaravelOsaka .laravelOsakaOverview {
    color: #282b60;
    text-align: center;
    line-height: 2rem;
    font-size: 17.6px;
    padding-top: 2rem; }
    @media screen and (max-width: 800px) {
      .l-aboutLaravelOsaka .laravelOsakaOverview {
        line-height: 1.4rem;
        font-size: 14px;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; } }

.l-sessionIndex {
  background-color: rgba(251, 97, 92, 0.8);
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media screen and (max-width: 800px) {
    .l-sessionIndex {
      padding-top: 2rem;
      padding-bottom: 2rem; } }
  .l-sessionIndex .sessionBox {
    padding-top: 2rem;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .l-sessionIndex .sessionBox {
        padding-top: 1rem; } }
    .l-sessionIndex .sessionBox .sB_session {
      position: relative;
      display: inline-block;
      width: 43%;
      min-width: 300px; }
      .l-sessionIndex .sessionBox .sB_session .sB_session_speakerImgBox {
        text-align: center;
        width: 45%;
        padding-top: 15px;
        padding-bottom: 15px; }
        .l-sessionIndex .sessionBox .sB_session .sB_session_speakerImgBox .sB_session_sIB_speakerImg--hidden,
        .l-sessionIndex .sessionBox .sB_session .sB_session_speakerImgBox .sB_session_sIB_speakerImg {
          width: 80%;
          height: 80%;
          border-radius: 80%;
          display: inline-block;
          max-width: 160px; }
        .l-sessionIndex .sessionBox .sB_session .sB_session_speakerImgBox .sB_session_sIB_speakerImg--hidden {
          visibility: hidden; }
      .l-sessionIndex .sessionBox .sB_session .sB_session_title,
      .l-sessionIndex .sessionBox .sB_session .sB_session_speakerCompany,
      .l-sessionIndex .sessionBox .sB_session .sB_session_speakerName {
        color: white;
        position: absolute;
        left: 45%; }
      .l-sessionIndex .sessionBox .sB_session .sB_session_title--andMore {
        color: white;
        position: absolute;
        margin-top: 0;
        top: 45%;
        left: 40%; }
        @media screen and (max-width: 800px) {
          .l-sessionIndex .sessionBox .sB_session .sB_session_title--andMore {
            top: 40%; } }
      .l-sessionIndex .sessionBox .sB_session .sB_session_title {
        top: 7%;
        line-height: 1.5rem;
        text-align: left;
        font-size: 1.1rem; }
        @media screen and (max-width: 800px) {
          .l-sessionIndex .sessionBox .sB_session .sB_session_title {
            line-height: 18.2px;
            font-size: 14px; } }
      .l-sessionIndex .sessionBox .sB_session .sB_session_speakerCompany {
        top: 55%;
        font-size: 12.8px; }
        @media screen and (max-width: 800px) {
          .l-sessionIndex .sessionBox .sB_session .sB_session_speakerCompany {
            top: 58%;
            font-size: 9.8px; } }
      .l-sessionIndex .sessionBox .sB_session .sB_session_speakerName {
        top: 70%; }
  .l-sessionIndex .linkBtnBox--sessionDetailPage {
    text-align: center;
    padding-top: 2rem; }
    @media screen and (max-width: 800px) {
      .l-sessionIndex .linkBtnBox--sessionDetailPage {
        padding-top: 0; } }
    .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage {
      display: inline-block;
      background-color: #282b60;
      padding: 3px; }
      .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox {
        border: 2px solid rgba(255, 255, 255, 0.6);
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: 4rem; }
        .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox .lB_innerBox_circleMark--left {
          margin-left: 0.5rem; }
        .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox .lB_innerBox_circleMark--right {
          margin-right: 0.5rem; }
        .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox .lB_innerBox_circleMark--left,
        .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox .lB_innerBox_circleMark--right {
          display: inline-block;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.5rem;
          border: 4px solid rgba(255, 255, 255, 0.4); }
        .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .linkBtn_innerBox .lB_innerBox_text {
          vertical-align: top;
          display: inline-block;
          color: white;
          line-height: 4rem; }
      .l-sessionIndex .linkBtnBox--sessionDetailPage .lBB_linkBtn--sessionDetailPage .lB_innerBox_text {
        padding-left: 2.1rem;
        padding-right: 2.1rem; }

.l-timeTable {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 5rem; }
  @media screen and (max-width: 800px) {
    .l-timeTable {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      background-size: 10% auto; } }
  .l-timeTable .timeTableSheet {
    margin-left: auto;
    margin-right: auto;
    width: 80VW;
    max-width: 800px;
    padding-top: 2rem; }
    @media screen and (max-width: 800px) {
      .l-timeTable .timeTableSheet {
        padding-top: 1rem; } }
    .l-timeTable .timeTableSheet .timeTableSheet_box {
      background-color: white;
      display: table;
      height: 5rem;
      width: 100%;
      margin-bottom: 0.5rem; }
      @media screen and (max-width: 800px) {
        .l-timeTable .timeTableSheet .timeTableSheet_box {
          height: 3.5rem; } }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_time,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--opening,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--lunchTime,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--LT,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--closing {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        overflow: hidden; }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_time {
        width: 20%;
        text-align: center; }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC {
        width: 50vw;
        line-height: 1rem; }
        @media screen and (max-width: 800px) {
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC {
            line-height: 1rem; } }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--opening,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--lunchTime,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--LT,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--closing {
        color: #282b60;
        padding-left: 1.5rem;
        font-size: 17.6px; }
        @media screen and (max-width: 800px) {
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--opening,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--lunchTime,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--LT,
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--closing {
            padding-left: 1rem;
            font-size: 15.4px; } }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionA,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionB,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--sessionC,
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_content--LT {
        font-weight: bold; }
      .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_time {
        background-color: #fb615c;
        color: white;
        font-size: 19.2px; }
        @media screen and (max-width: 800px) {
          .l-timeTable .timeTableSheet .timeTableSheet_box .timeTableSheet_box_time {
            font-size: 16.8px; } }
  .l-timeTable .timeTableAttention {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #282b60;
    font-size: 12.8px;
    width: 80VW;
    max-width: 800px;
    line-height: 1.2rem; }
    @media screen and (max-width: 800px) {
      .l-timeTable .timeTableAttention {
        font-weight: 11.2px; } }

.l-access {
  position: relative;
  height: 700px; }
  @media screen and (max-width: 800px) {
    .l-access {
      height: auto; } }
  .l-access .accessMap {
    vertical-align: bottom;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 800px) {
      .l-access .accessMap {
        height: 50VW; } }
  .l-access .accessInfoBox {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fb615c;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
    padding-top: 2rem;
    padding-bottom: 3rem; }
    @media screen and (max-width: 800px) {
      .l-access .accessInfoBox {
        padding-top: 2rem;
        padding-bottom: 3rem;
        position: static;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0; } }
    .l-access .accessInfoBox .accessInfo_address,
    .l-access .accessInfoBox .accessInfo_station,
    .l-access .accessInfoBox .accessInfo_requiredTime {
      color: white;
      margin-left: 2.5rem;
      margin-right: 6rem; }
      @media screen and (max-width: 800px) {
        .l-access .accessInfoBox .accessInfo_address,
        .l-access .accessInfoBox .accessInfo_station,
        .l-access .accessInfoBox .accessInfo_requiredTime {
          margin-right: 0; } }
    .l-access .accessInfoBox .accessInfo_address {
      font-size: 0.9rem;
      padding-top: 0.5rem; }
      @media screen and (max-width: 800px) {
        .l-access .accessInfoBox .accessInfo_address {
          font-size: 12.6px;
          padding-top: 0.5rem; } }
    .l-access .accessInfoBox .accessInfo_station {
      margin-top: 2.2rem;
      margin-bottom: 0.3rem;
      font-size: 1.1rem; }
      @media screen and (max-width: 800px) {
        .l-access .accessInfoBox .accessInfo_station {
          margin-top: 1.5rem;
          font-size: 15.4px; } }
    .l-access .accessInfoBox .linkBtnBox--googleMap {
      text-align: center;
      margin-top: 3rem; }
      @media screen and (max-width: 800px) {
        .l-access .accessInfoBox .linkBtnBox--googleMap {
          margin-top: 1.5rem; } }
      .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap {
        display: inline-block;
        background-color: #282b60;
        padding: 3px; }
        .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox {
          border: 2px solid rgba(255, 255, 255, 0.6);
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          height: 4rem; }
          .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox .lB_innerBox_circleMark--left {
            margin-left: 0.5rem; }
          .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox .lB_innerBox_circleMark--right {
            margin-right: 0.5rem; }
          .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox .lB_innerBox_circleMark--left,
          .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox .lB_innerBox_circleMark--right {
            display: inline-block;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 0.5rem;
            border: 4px solid rgba(255, 255, 255, 0.4); }
          .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .linkBtn_innerBox .lB_innerBox_text {
            vertical-align: top;
            display: inline-block;
            color: white;
            line-height: 4rem; }
        .l-access .accessInfoBox .linkBtnBox--googleMap .lBB_linkBtn--googleMap .lB_innerBox_text {
          padding-left: 0.6rem;
          padding-right: 0.4rem; }

.l-sponsor {
  background-image: url("../../img/bg-pt-footer.png");
  background-size: 3% auto;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media screen and (max-width: 800px) {
    .l-sponsor {
      padding-top: 2rem;
      padding-bottom: 3rem;
      background-size: 10% auto; } }
  .l-sponsor .sponsorBox {
    display: block;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    max-width: 850px; }
    @media screen and (max-width: 800px) {
      .l-sponsor .sponsorBox {
        padding-top: 1rem;
        width: 100%; } }
    .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli {
      display: inline-block;
      width: 43%;
      vertical-align: top; }
      @media screen and (max-width: 800px) {
        .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli {
          width: 100%; } }
      .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli .sponsorLink {
        display: inline-block;
        background-color: white;
        width: 17rem;
        height: 9rem;
        margin-bottom: 3rem; }
        .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli .sponsorLink .sponsorBox_sponsorLogo--MOTEX {
          height: 55%;
          padding-top: 13%; }
        .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli .sponsorLink .sponsorBox_sponsorLogo--chatbox,
        .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli .sponsorLink .sponsorBox_sponsorLogo--unzip {
          height: 60%;
          padding-top: 10%; }
        .l-sponsor .sponsorBox .sponsorBox_sponsorLogoli .sponsorLink .sponsorBox_sponsorLogo--zeals {
          height: 40%;
          padding-top: 15%; }
  .l-sponsor .linkBtnBox--recruitSponsor {
    text-align: center;
    padding-top: 2rem; }
    .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor {
      display: inline-block;
      background-color: #282b60;
      padding: 3px; }
      .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox {
        border: 2px solid rgba(255, 255, 255, 0.6);
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: 4rem; }
        .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left {
          margin-left: 0.5rem; }
        .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
          margin-right: 0.5rem; }
        .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--left,
        .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_circleMark--right {
          display: inline-block;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.5rem;
          border: 4px solid rgba(255, 255, 255, 0.4); }
        .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .linkBtn_innerBox .lB_innerBox_text {
          vertical-align: top;
          display: inline-block;
          color: white;
          line-height: 4rem; }
      .l-sponsor .linkBtnBox--recruitSponsor .lBB_linkBtn--recruitSponsor .lB_innerBox_text {
        padding-left: 1.1rem;
        padding-right: 1.1rem; }
